.custom-bannerheading {
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.custom-bannerheading form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.responsive-title {
  font-size: 3rem;
}

@media only screen and (max-width: 1200px) {
  .responsive-title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .responsive-title {
    font-size: 2rem;
    text-align: center;
  }

  .custom-bannerheading {
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .custom-bannerheading {
    text-align: center;
  }

  .responsive-title {
    font-size: 1.8rem;
  }

  .custom-bannerheading form {
    display: block;
  }

  .custom-bannerheading button {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .responsive-title {
    font-size: 2rem;
    text-align: center;
  }

  .custom-bannerheading h4 {
    font-size: 1rem;
    padding: 5px;
  }
  .custom-bannerheading {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .custom-bannerheading p {
    font-size: 0.9rem;
    text-align: justify;
  }

  .custom-bannerheading form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .responsive-title {
    font-size: 1.5rem;
    text-align: center !important;
  }

  .custom-bannerheading {
    height: auto;
    padding: 5px;
  }

  .custom-bannerheading p {
    font-size: 12px;
    text-align: justify;
  }

  .custom-bannerheading h4 {
    font-size: 13px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}
