.globalButton {
  width: 100%; /* Make the button full-width for smaller screens */
  color: #fff;
  box-shadow: none;
}

.globalButton:hover {
  box-shadow: none;
  color: #fff !important;
  border: none;
}

.ant-select-item-option:hover {
  background-color: #059862 !important; /* Custom hover background color */
  color: white;
}
