.globalButton {
  width: 100%; /* Make the button full-width for smaller screens */
  background-color: #e74e49;
  color: #fff;
}

.globalButton:hover {
  background-color: #e6645f !important;
  color: #fff !important;
  border: none;
}
