.hamburger-menu {
  display: none !important;
}

.siderBg {
  background-color: #f9f9f9 !important;
}

.responsive-logo {
  color: #2a2c31;
  font-size: 2.3rem;
}

.dashboard-hamburger {
  display: none;
}

.dashboard-logout-button {
  display: block;
}

.sidebar-logout-button {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .hamburger-menu {
    display: block !important;
  }
  .dashboard-hamburger {
    display: block !important;
  }

  .dashboard-logout-button {
    display: none;
  }

  .sidebar-logout-button {
    display: block;
  }
}
